div p {
    background-color: yellow;
}
div > p {
    background-color: yellow;
   }
div + p {
    background-color: yellow;
    }
div ~ p {
    background-color: yellow;
}  
h1,h2 {
    color : firebrick
} 
